@media (max-width: 1070px) {
    .col-full-m {
        width: 100%;
    }
    .container {
        width: 750px;
    }
    .msg-img {
        width: 30%;
    }
    .ct-text {
        float: none;
        width: 100% !important;
        display: table;
        text-align: center;
    }
    .ct-btn {
        float: none;
        display: table;
        margin: 0 auto;
        margin-top: 38px;
    }
}

@media (max-width: 970px) {
    .hl {
        display: table;
        margin: 5px auto !important;
    }
    .home-desc {
        text-align: center;
    }
    .home-buy-btn,
    .home-content>small {
        display: table;
        margin: 0 auto;
    }
    .home-img img {
        display: block;
        float: none;
        /* margin: 0 auto; */
    }
    .ct-text {
        display: block !important;
        text-align: center;
    }
}

@media (max-width: 756px) {
    .rows {
        display: inline;
    }
    .header-nav {
        display: none;
    }
    .header-btn {
        display: block;
    }
    .item {
        width: 100%;
    }
    .msg-img,
    .msg-body {
        display: block;
        float: none;
        width: 100%;
        margin: 8px auto;
        text-align: center;
    }
    .ab-img,
    .ab-body {
        float: none;
        width: 100%;
    }
    .footer-text,
    .footer-link,
    .footer-link>ul {
        justify-content: center;
        text-align: center;
        float: none;
        width: 100%;
    }
}