/* Reset Css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: calc(100% - 80px);
    width: 1280px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #363940;
    overflow: hidden;
    z-index: 1;
}

#header .header-logo {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}

#header .header-menu {
    position: relative;
    float: right;
}

#header .header-menu li {
    margin: 0 8px;
    display: inline-block;
}

#header .header-menu a {
    text-decoration: none;
    color: #ccc;
}

#header .header-menu a:hover {
    color: #fff;
}

#content {
    position: relative;
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 20%; */
    /* height: 800px; */
}

#content>h1 {
    margin-bottom: 20px;
}

#content .content-section-img {
    position: relative;
    width: calc(100% - 320px);
    display: inline-block;
}

#content .content-section-img img {
    height: 100%;
    width: 100%;
}

.content-prg {
    /* float: inherit; */
    position: absolute;
    width: 320px;
    height: 100%;
    max-width: calc(100% - 30px) !important;
    /* margin-top: 50px; */
    margin-left: 32px;
    line-height: 1.4;
    display: inline-block;
}

.content-prg h2 {
    margin-bottom: 12px;
}

.content-prg-2 li {
    margin-left: 42px;
}

.content-section .prg-1 {
    margin-bottom: 20px;
}

.container-list-item {
    position: relative;
    margin-top: 15px;
}

.container-list-item .title {
    margin-bottom: 18px;
}

.container-list-item .container-img {
    float: left;
    width: 25%;
    padding: 0 15px;
    margin-top: 8px;
}

.container-list-item .img {
    display: block;
    width: 100%;
    height: 100%;
}

#footer {
    position: relative;
    margin-top: 28px;
    /* width: 100%; */
    height: 140px;
    color: white;
    background-color: #363940;
    line-height: 140px;
    font-size: 18px;
    text-align: center;
}